<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>계정삭제하는 페이지 입니당</h1>
    <form action="/delete2" method="post">
        <input type="text" name="id">
        <input type="text" name="password" >
        <input type="submit" value="계정 삭제하기">
    </form>
</body>
</html>